/* Main Font */
@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url(https://fonts.googleapis.com/css?family=Sacramento);

/* Secondary Font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

/* TODO fix the buttons not matching the input size */
/* Small Screens */
* {
	margin: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
}

body {
	background: #F7F7F7;
}

#header h1 {
	padding: 8px;
	font-size: 30px;
	font-family: 'Sacramento', cursive;
}

h2, h3, h4 {
	color: #000000;
}

h2 {
	font-size: 25px;
    font-weight: 100;
	font-size: 40px;
    font-weight: 600;
}

h3 {
	font-size: 30px;
}

h1, h2, h3, h4 {
	text-align: center;
}

#central_image {
	width: 30%;
	padding-top: 10%;
	margin: auto;
	display: block;
}

p { 
	text-align: center;
	padding: 0% 10% 0% 10%;
}

#main_body {
	padding: 3%;
}

#sidebar {
	background: #1E1E1E;
    box-shadow: inset 0px 5px 10px;
}

input {
	padding: 8px;
	margin: 4px 0px;
	border-radius: 2px;
	border-style: none;
	background: #FFFFFF;
	box-sizing : border-box;
}

input[type='submit'] {
    background: #565656;
	width: 176px;
	font-weight: 100;
	color: #CECECE;
}

.has_error input {
	border: 2px #B70000;
    border-style: solid;
	background-image:url('/views/images/red_cross.svg');
	background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

.has_error .feedback_message {
	color: #B70000;
}

textarea {
	width: 100%;
	box-sizing : border-box;
}

#header {
	height: 60px;
	color: #FFFFFF;
    background: #565656;
	box-shadow: 0px 4px 8px #000000;
}

.entry_summary {
    width: 100%;
    background: none;
    border: solid;
    color: #F7F7F7;
    padding: 10px 0px;
	border-width: 0px 0px 1px 0px;
	outline: none;
}

.entry_summary:focus, .entry_summary:hover {
	background: #565656;
}

#tools {
	height: 40px;
}

#entry_title {
	width: 100%;
    font-size: 30px;
    font-weight: 600;
}

#tools * {
	float: right;
	background: none;
	outline: none;
	width: 40px;
	height: 40px;
	margin: 0px;
}

#add_entry {
	background: #1E1E1E;
}

#add_entry:hover {
    background: #565656;
}

#main_body section {
	padding: 20px 0px;
}

/* Larger Screens */
@media all and (min-width: 830px) {
	html, body {
		height: 100%
	}

	#sidebar {
		width: 28%;
		position: absolute;
		top: 60px;
		bottom: 0;
		overflow-y: scroll;
		max-width: 300px;
		box-shadow: inset -5px 0px 10px;
	}

	#sidebar_content {
		position: relative;
	}

	#main_body {
		width: 66%;
		margin-left: 28%;
	}
}

@media all and (max-height: 450px) {
	#sidebar {
		overflow: scroll;
	}
}
