/* Main Font */
@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url(https://fonts.googleapis.com/css?family=Sacramento);

/* Secondary Font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

/* Small Screens */
* {
	margin: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
}

#content {
	background: #F7F7F7;
}

body {
	background: #1F1F1F;
}

#header h1 {
	padding: 8px;
	font-size: 30px;
	font-family: 'Sacramento', cursive;
}

h2, h3, h4 {
	color: #000000;
}

h2 {
	font-size: 40px;
    font-weight: 600;
}

h3 {
	font-size: 30px;
}

h1, h2, h3, h4 {
	text-align: center;
}

#central_image {
	width: 30%;
	padding-top: 10%;
	margin: auto;
	display: block;
}

p { 
	text-align: center;
	padding: 0% 10% 0% 10%;
}

#main_body {
	padding: 3%;
}

#sidebar {
	background: #1E1E1E;
    box-shadow: inset 0px 5px 10px;
    position: relative;
    top: 60px;
}

.profile_title, .result_title {
	padding-bottom: 30px;
}

.left_justified {
	padding: 0%;
}

.left_justified, .left_justified h3 {
	text-align: left;
}

.medium_justified {
	padding-left: 4%;
}

.profile, .logout {
	float: left;
	padding-left: 1%;
}

#search_box {
	float: right;
	padding: 10px 10px 10px 0px;
}

#search_box input {
	margin: 0px;
	background: #F7F7F7;
}

.shifted_body {
	overflow: auto;
	padding-left: 5%;
}

.area {
	padding-bottom: 2%;
}

#header_logo {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
}

.about_me {
	width: 95%;
	height: 15%;
}

#center_main_body {
	position: relative;
	top: 60px;
	width: 75%;
	margin: 0px;
	background-color: #F7F7F7;
    margin-left: 12.5%;
    height: 100%;
}

.result_title {
	position: relative;
    padding: 5%;
}

.save {
	clear: left;
}

input {
	padding: 8px;
	margin: 4px 0px;
	border-radius: 2px;
	border-style: none;
	background: #FFFFFF;
	box-sizing : border-box;
}

input[type='submit'] {
    background: #009E2D;
	width: 176px;
	font-weight: 100;
	color: #FFFFFF;
}

.has_error input {
	border: 2px #B70000;
    border-style: solid;
	background-image:url('/views/images/red_cross.svg');
	background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

.has_error .feedback_message {
	color: #B70000;
}

textarea {
	width: 100%;
	box-sizing : border-box;
}

#header {
    height: 60px;
    color: #FFFFFF;
    background: #565656;
    box-shadow: 0px 4px 8px #000000;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.sidebar_title {
    width: 100%;
    background: none;
    border: solid;
    color: #F7F7F7;
    padding: 10px 0px;
	border-width: 2px 0px 2px 0px;
	font-weight: 900;
	text-align: center;
	text-shadow: #000000 2px 2px;
	outline: none;
}

.sidebar_entry {
	width: 100%;
	background: none;
	border: solid;
	color: #F7F7F7;
	padding: 10px 0px;
	border-width: 0px 0px 1px 0px;
	outline: none;
}

.sidebar_entry:focus, .sidebar_entry:hover {
	background: #565656;
}

#tool_bar {
	height: 40px;
}

.title {
	width: 100%;
    font-size: 30px;
    font-weight: 600;
}

#tool_bar * {
	float: right;
	background: none;
	outline: none;
	width: 40px;
	height: 40px;
	margin: 0px;
}

#add_entry:hover {
    background: #565656;
}

#main_body section {
	padding: 20px 0px;
}

.button1 {
	margin: 0px;
	width: 75%;
}

.button2 {
	margin: 0px;
	width: 25%;
}

.button1, .button2 {
	float: left;
}

.journal_entry {
	white-space: pre-wrap;
}

#nav_links {
	width: 100%;
	background: #1E1E1E;
	overflow: auto;
}

#nav_links .button {
	text-align: center;
	width: 50%;
	float: left;
	color: #FFFFFF;
	padding: 10px 0px;
}

#nav_links .current_page {
	background: #009E2D;
	box-shadow: #000000 2px 0px 3px;
}

#content {
	position: relative;
	top: 60px;
}

textarea {
	height: 100px;
}

/* Set scrollbar style */
/* Source: https://css-tricks.com/examples/WebKitScrollbars/ */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(0,158,45,1); 
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* Flexflow css */
.flex {
	display: flex;
	flex-flow: column;
}

.flex_fit {
	flex: 0;
}

.flex_grow {
	flex: 1;
}

/* Larger Screens */
@media all and (min-width: 830px) {
	html, body {
		height: 100%
	}

	#sidebar {
		width: 25%;
		position: absolute;
		top: 60px;
		bottom: 0;
		overflow-y: scroll;
		box-shadow: inset -5px 0px 10px;
	}
	#main_body {
		padding: 3%;
		position: absolute;
		width: 94%;
		
	}

	.shifted {
		top: 44px;
		bottom: 0px;
	}

	.column {
		height: 100%;
		float: left;
		width: 49%;
	}
	
	.column_layout .column:first-of-type {
		border-width: 0px 1px 0px 0px;
    	border-style: solid;
    	border-color: #000000;
    	width: 44%;
	}
	.column_layout .column:nth-child(2) {
		padding-left: 8%;
    	width: 41%;
	}

	#sidebar_content {
		position: relative;
	}

	#content {
		margin-left: 25%;
		width: 75%;
		position: absolute;
		top: 60px;
		bottom: 0px;
		overflow-y: scroll;
	}

	#tool_bar {
		height: 0px;
	}
}
